<%- include("header") -%>


<section class="section-bg">
    <img class="bg-image" src="/img/main.jpg" alt="Background Image">
    <div class="title-container">
        <h1 class="title">Ship sites with style..</h1>
      </div>
      <div class="details-container">

      </div>
      <div class="buttons-container">
        <input class="round-filled-btn" type="button" value="Get Started" >
      </div>
</section>

<%- include("footer") -%>