body {
    margin: 0;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


.footer {
    z-index: 1;
    --footer-background: #ED5565;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;

    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 10;

    bottom: 0;
    width: 100%;
  }

 .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
  }

 .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }

 .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
  }

 .footer .content a,
 .footer .content p {
    color: #F5F7FA;
    text-decoration: none;
  }

 .footer .content b {
    color: white;
  }

 .footer .content p {
    margin: 0;
    font-size: 0.75rem;
    align-self: center;
  }

 .footer .content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 .footer .content>div>div {
    margin: 0.25rem 0;
  }

 .footer .content>div>div>* {
    margin-right: 0.5rem;
  }

 .footer .content>div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }

  @-webkit-keyframes bubble-size {

    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }

    100% {
      width: 0rem;
      height: 0rem;
    }
  }

  @keyframes bubble-size {

    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }

    100% {
      width: 0rem;
      height: 0rem;
    }
  }

  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }

    100% {
      bottom: var(--distance, 10rem);
    }
  }

  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }

    100% {
      bottom: var(--distance, 10rem);
    }
  }




.section-bg {
    
    height: 40vh;
    margin: 0;
    padding: 0;

    position: relative;
    left: 0;
    right: 0;
    max-width: 100%;
    overflow: hidden;
   
}

.bg-image {
    background-size: covefr;
    background-position: center;

    height: 100%;
    width: 100%;
    z-index: -9;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.bg-image::before {
    z-index: -9;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    /* semi-transparent black */
    transition: opacity 0.5s ease-in-out;
}

.bg-image:hover::before {
    opacity: 1;
}

.bg-image:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
    z-index: -10;
}

.title-container {
    position: absolute;
    /* position the title container absolutely */
    top: 50%;
    /* position it at the vertical center of the section */
    left: 50%;
    /* position it at the horizontal center of the section */
    transform: translate(-50%, -50%);
    /* center the title container */
}

.title {
    font-size: 4rem;
    /* or any other font size */
    color: #fff;
    /* or any other color */
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.buttons-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8rem;
    left: 0;
    right: 0;
}
button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.round-filled-btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #fff;
    margin: 1rem;
    position: absolute;
    display: block;
    z-index: 1;
}

.round-filled-btn:hover {
    z-index: 1;
    background-color: rgb(218, 218, 218);
}